# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# iOS/Android build artifacts
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

android/.gradle/
android/local.properties

# IDE
.idea/
*.iml
.vscode/
.DS_Store
